body {
    margin: 0;
    padding: 0;
    background-image: url("/static/imagenes/IMG_login.png");
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 0 10px #00ffae;
    color: #ffffff;
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
    color: #00ffae;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    background-color: #e0e0e0;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #00ffae;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #00c68d;
}

.form-container p {
    margin-top: 15px;
}

.form-container a {
    color: #00ffae;
    text-decoration: none;
}

.form-container a:hover {
    text-decoration: underline;
}


  .btn-regresar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #00ffc8;
  color: #00ffc8;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-regresar i {
  margin-right: 8px;
}

.btn-regresar:hover {
  background-color: #00ffc8;
  color: #000;
}
